@import "tailwindcss";

:root {
	--background-color: white;
	--foreground-color: #24292e;
	--header-height: 80px;
	--padding-x: 30px;

	--primary-color: #E65E34;
	--txt-color: #323232;

	--radius: 10px;
}

main {
	padding-left: var(--padding-x);
	padding-right: var(--padding-x);
}

.notes {
	font-size: 20px;
	max-width: calc(680px + var(--padding-x) * 2);
	margin: auto;
	font-family: monospace;
}

.notes a {
	color: var(--primary-color);
	text-decoration: underline;
}

.notes .title {
	margin-bottom: 2em;
}

.notes h1 {
	font-size: 2.8em;
	font-weight: 800;
	margin-bottom: 1rem;
}

.notes h2 {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 1rem;
}

.notes h3 {
	font-size: 1.7em;
	font-weight: 700;
	margin-bottom: 1rem;
}

.notes h4 {
	font-size: 1.4em;
	font-weight: 700;
	margin-bottom: 1rem;
}

.notes h5 {
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 1rem;
}

.notes h6 {
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.notes p {
	color: #323232;
	line-height: 1.8;
	margin-bottom: 1rem;
}

.notes hr {
	opacity: .1;
	color: var(--txt-color);
	border-width: .5px;
	height: 1.2px;
	margin-bottom: .5em;
	margin-top: 1em;
}

.notes img {
	border-radius: var(--radius);
}

.notes blockquote {
	display: block;
	padding-left: 1rem;
	border-left: solid 2px rgba(0,0,0,.2);
}

.notes code {
	background: var(--foreground-color);
	color: white;
	border-radius: 5px;
	padding: 4px 9px;
	font-size: 14px;
}

.notes pre.astro-code {
	padding: 1em;
	border-radius: var(--radius);
}

.notes pre.astro-code code {
	padding: 0;
}

.notes table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-radius: var(--radius);
	width: 100%;
}

.notes table, .notes th, .notes td {
	border-bottom: solid 1px rgba(0,0,0,.2);
	padding: 10px 20px;
}

.notes thead {
	background: var(--foreground-color);
	color: white;
}

.notes tbody {
	font-size: 0.8em;
}
