---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.tsx';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
	</body>
</html>
