.icon-burger-menu {
    display: inline-block;
    width: 25px;
    height: 12px;

    position: relative;

}

.icon-burger-menu::after, .icon-burger-menu::before {
    content: "";
    width: 100%;
    height: 4px;
    background: black;
    position: absolute;
}

.icon-burger-menu::after {
    bottom: 0;
}
